@import "tailwindcss";

@font-face {
    font-family: "Google Sans";
    src: url("./font/GoogleSans-Variable.ttf") format("truetype");
}

@theme {
    --font-display: "Google Sans";
    --color-layout: #1d204a;
}

@layer base {
    body {
        font-family: var(--font-display);
    }
}